---
import { Image } from "astro:assets";
import { z } from "astro:content";
import { marked } from "marked";

import { CardGrid, Card, LinkCard } from "@astrojs/starlight/components";

const props = z.object({
	title: z.string(),
	text: z.string(),
	image: z.object({
		light: z.any(),
		dark: z.any(),
	}),
	cards: z
		.object({
			title: z.string(),
			text: z.string(),
			cta: z.object({
				title: z.string(),
				href: z.string(),
			}),
		})
		.array(),
	imagePosition: z.enum(["before", "after"]),
});

const { title, text, image, cards, imagePosition } = props.parse(Astro.props);
---

<div class="flex h-1/3 items-center">
	{
		imagePosition === "before" && (
			<div class="w-full m-8">
				<Image
					src={image.light}
					alt={`${title} section image`}
					class="dark:sl-hidden"
				/>
				<Image
					src={image.dark}
					alt={`${title} section image`}
					class="light:sl-hidden"
				/>
				<h2>{title}</h2>
				<span set:html={marked.parse(text)} />
			</div>
		)
	}
	<CardGrid>
		{
			cards.map((card) => (
				<Card title={card.title}>
					<span set:html={marked.parse(card.text)} />
					<br />
					<LinkCard title={card.cta.title} href={card.cta.href} />
				</Card>
			))
		}
	</CardGrid>
	{
		imagePosition === "after" && (
			<div class="w-full m-8">
				<Image
					src={image.light}
					alt={`${title} section image`}
					class="dark:sl-hidden"
				/>
				<Image
					src={image.dark}
					alt={`${title} section image`}
					class="light:sl-hidden"
				/>
				<h2>{title}</h2>
				<span set:html={marked.parse(text)} />
			</div>
		)
	}
</div>
