---
import { Icon } from "@astrojs/starlight/components";

const blocks = [
	{
		title: "Community",
		text: "Share ideas, answers, code and compare notes with the Cloudflare community.",
		links: [
			{
				text: "Discord",
				icon: "discord",
				href: "https://discord.cloudflare.com/",
			},
			{
				text: "Twitter",
				icon: "x.com",
				href: "https://x.com/CloudflareDev",
			},
			{
				text: "Community forum",
				icon: "cloudflare",
				href: "https://community.cloudflare.com/",
			},
		],
	},
	{
		title: "Open source",
		text: "Cloudflare contributes to the open-source ecosystem in a variety of ways, including:",
		links: [
			{
				text: "GitHub projects",
				icon: "github",
				href: "https://github.com/cloudflare",
			},
			{
				text: "Sponsorship projects",
				icon: "seti:shell",
				href: "/sponsorships/",
			},
			{
				text: "Style guide",
				icon: "document",
				href: "/style-guide/",
			},
		],
	},
	{
		title: "Blog",
		text: "Get the latest news on Cloudflare products, technologies, and culture.",
		links: [
			{
				text: "Read the blog",
				icon: "open-book",
				href: "https://blog.cloudflare.com/",
			},
		],
	},
] as const;
---

<div
	class="flex bg-gray-100 dark:bg-gray-800 bleed *:!mt-0 items-start justify-between py-10"
>
	{
		blocks.map(({ title, text, links }) => (
			<div>
				<strong>{title}</strong>
				<p class="w-80">{text}</p>
				<ul class="list-none pl-0">
					{links.map((link) => (
						<li class="flex !mt-4">
							<Icon
								name={link.icon}
								size="1.5rem"
								color="var(--sl-color-white)"
							/>
							<a
								href={link.href}
								class="pl-2 no-underline !text-black dark:!text-white"
							>
								{link.text}
							</a>
						</li>
					))}
				</ul>
			</div>
		))
	}
</div>

<style>
	@tailwind utilities;

	.bleed {
		box-shadow: 0 0 0 100vmax theme(colors.gray.800);
		clip-path: inset(0 -100vmax);
	}

	html[data-theme="light"] {
		.bleed {
			box-shadow: 0 0 0 100vmax theme(colors.gray.100);
			clip-path: inset(0 -100vmax);
		}
	}
</style>
