---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import HeroImageDark from "~/assets/Dev-Docs-Header-Illustration-Dark-Mode-cropped.svg";
import HeroImageLight from "~/assets/Dev-Docs-Header-Illustration-Light-Mode-cropped.svg";

import SectionImageDeveloperPlatformDark from "~/assets/developer-platform-dark.svg";
import SectionImageDeveloperPlatformLight from "~/assets/developer-platform-light.svg";
import SectionImageZeroTrustDark from "~/assets/zero-trust-dark.svg";
import SectionImageZeroTrustLight from "~/assets/zero-trust-light.svg";

import {
  FourCardGrid,
  ListCard,
  TryItSection,
  FeaturedContentSection,
  RecommendedContentSection,
  FooterHeroBlock,
} from "~/components";

const frontmatter = {
  title: "Welcome to Cloudflare",
  description:
    "Explore guides and tutorials to start building on Cloudflare's platform",
  template: "splash",
  editUrl: false,
  hero: {
    title: "Welcome to Cloudflare",
    tagline:
      "Explore guides and tutorials to start building on Cloudflare's platform",
    image: {
      dark: HeroImageDark,
      light: HeroImageLight,
    },
  },
};

const topCards = [
  {
    title: "Featured",
    links: [
      { text: "Add web analytics", href: "/web-analytics/" },
      {
        text: "Troubleshoot errors",
        href: "/support/troubleshooting/cloudflare-errors/",
      },
      { text: "Register a domain", href: "/registrar/" },
      { text: "Setup 1.1.1.1", href: "/1.1.1.1/setup/" },
      {
        text: "Get started with Cloudflare",
        href: "/learning-paths/get-started/",
      },
    ],
    cta: {
      text: "View all products",
      href: "/products/",
    },
  },
  {
    title: "Developer Products",
    links: [
      { text: "Workers", href: "/workers/" },
      { text: "Pages", href: "/pages/" },
      { text: "R2", href: "/r2/" },
      { text: "Images", href: "/images/" },
      { text: "Stream", href: "/stream/" },
    ],
    cta: {
      text: "View all developer products",
      href: "/products/?product-group=Developer+platform",
    },
  },
  {
    title: "AI Products",
    links: [
      {
        text: "Build a RAG",
        href: "/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai/",
      },
      { text: "Workers AI", href: "/workers-ai/" },
      { text: "Vectorize", href: "/vectorize/" },
      { text: "AI Gateway", href: "/ai-gateway/" },
      { text: "AI Playground", href: "https://playground.ai.cloudflare.com/", target: "_blank" },
    ],
    cta: {
      text: "View all AI products",
      href: "/products/?product-group=AI",
    },
  },
  {
    title: "Zero Trust",
    links: [
      { text: "Access", href: "/cloudflare-one/policies/access/" },
      { text: "Tunnel", href: "/cloudflare-one/connections/connect-networks/" },
      { text: "Gateway", href: "/cloudflare-one/policies/gateway/" },
      { text: "Browser Isolation", href: "/cloudflare-one/policies/browser-isolation/" },
      { text: "Replace your VPN", href: "/learning-paths/replace-vpn/" },
    ],
    cta: {
      text: "View all Cloudflare One products",
      href: "/products/?product-group=Cloudflare+One",
    },
  },
];

const featuredSections = [
  {
    title: "Developer Platform",
    text: "The Cloudflare Developer Platform provides a serverless execution environment that allows you to create entirely new applications or augment existing ones without configuring or maintaining infrastructure.",
    image: {
      light: SectionImageDeveloperPlatformLight,
      dark: SectionImageDeveloperPlatformDark,
    },
    imagePosition: "before",
    cards: [
      {
        title: "Create API Tokens",
        text: "If you are going to be using the Cloudflare API, you first need an API token to authenticate your requests.",
        cta: {
          title: "Create Tokens",
          href: "/fundamentals/api/get-started/create-token/",
        },
      },
      {
        title: "View Workers Examples",
        text: "Review fully functional sample scripts to get started with Workers.",
        cta: {
          title: "View Examples",
          href: "/workers/examples/",
        },
      },
    ],
  },
  {
    title: "Zero Trust",
    text: "Cloudflare Zero Trust replaces legacy security perimeters with our global network, making the Internet faster and safer for teams around the world.",
    image: {
      light: SectionImageZeroTrustLight,
      dark: SectionImageZeroTrustDark,
    },
    imagePosition: "after",
    cards: [
      {
        title: "Install the WARP Client",
        text: "The Cloudflare WARP client allows individuals and organizations to have a faster, more secure, and more private experience online.",
        cta: {
          title: "Get started",
          href: "/cloudflare-one/connections/connect-devices/warp/",
        },
      },
      {
        title: "Set up a tunnel",
        text: "Cloudflare Tunnel provides you with a secure way to connect your resources to Cloudflare without a publicly routable IP address.",
        cta: {
          title: "Set up a tunnel",
          href: "/cloudflare-one/connections/connect-networks/",
        },
      },
    ],
  },
];

const recommendedSection = {
  title: "Other docs you might also like",
  cards: [
    {
      title: "Install an Origin CA certificate",
      text: "Use Origin Certificate Authority (CA) certificates to encrypt traffic between Cloudflare and your origin web server and reduce origin bandwidth.",
      cta: {
        title: "Install Origin CA",
        href: "/ssl/origin-configuration/origin-ca/",
      },
    },
    {
      title: "Change your nameservers",
      text: "Make Cloudflare your primary DNS provider by updating your authoritative nameservers at your domain registrar.",
      cta: {
        title: "Update nameservers",
        href: "/dns/zone-setups/full-setup/setup/",
      },
    },
    {
      title: "SSL/TLS Encryption mode",
      text: "Your domain's encryption mode controls how Cloudflare connects to your origin server and how SSL certificates at your origin will be validated.",
      cta: {
        title: "Set encryption mode",
        href: "/ssl/origin-configuration/ssl-modes/",
      },
    },
    {
      title: "Allow traffic from specific countries only",
      text: "Block requests based on a list of allowed countries by configuring a custom rule in the Web Application Firewall (WAF).",
      cta: {
        title: "Allow traffic from specific countries only",
        href: "/waf/custom-rules/use-cases/allow-traffic-from-specific-countries/",
      },
    },
  ],
};
---

<StarlightPage frontmatter={frontmatter}>
  <FourCardGrid>
    {
      topCards.map((card) => (
        <ListCard title={card.title}>
          <ul>
            {card.links.map((link) => (
              <li>
                <a href={link.href} target={link.target} class="!text-black hover:!text-accent-600 dark:!text-accent-200 dark:hover:!text-white">{link.text}</a>
              </li>
            ))}
          </ul>
          <p>
            <strong>
              <a href={card.cta.href}>{card.cta.text}</a>
            </strong>
          </p>
        </ListCard>
      ))
    }
  </FourCardGrid>
  <div class="hidden md:block">
    <hr />
    <TryItSection />
    <hr />
    {
      featuredSections.map((section) => (
        <>
          <FeaturedContentSection
            title={section.title}
            text={section.text}
            image={section.image}
            imagePosition={section.imagePosition}
            cards={section.cards}
          />
          <hr />
        </>
      ))
    }
    <RecommendedContentSection
      title={recommendedSection.title}
      cards={recommendedSection.cards}
    />
    <hr />
    <FooterHeroBlock />
  </div>
</StarlightPage>

<style>
  html:not([data-has-sidebar]) {
    --sl-content-width: 80rem;
  }
</style>