---
import { getCollection } from "astro:content";
import { Tabs, TabItem } from "@astrojs/starlight/components";

const versions = await getCollection("pages-build-environment");
---

<Tabs>
	{
		versions.reverse().map((version) => (
			<TabItem label={version.id}>
				<table>
					<thead>
						<th>Tool</th>
						<th>Default version</th>
						<th>Supported versions</th>
						<th>Environment variable</th>
					</thead>
					<tbody>
						{version.data.tools.map((tool) => (
							<tr>
								<td>
									<strong>{tool.name}</strong>
								</td>
								<td>{tool.default}</td>
								<td>{tool.supported}</td>
								<td>
									{tool.environment_variable && (
										<code>{tool.environment_variable}</code>
									)}
								</td>
							</tr>
						))}
					</tbody>
				</table>
			</TabItem>
		))
	}
</Tabs>
