---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { getChangelogs } from "~/util/changelogs";
import { AnchorHeading } from "~/components";

const page = await getEntry("docs", Astro.params.slug!);

if (!page) {
	throw new Error(
		`[ProductChangelog] Failed to find entry for ${Astro.params.slug}.`,
	);
}

if (!page.data.changelog_file_name && !page.data.changelog_product_area_name) {
	throw new Error(
		`[ProductChangelog] ${Astro.params.slug} does not have a 'changelog_file_name' or 'changaelog_product_area_name' frontmatter property.`,
	);
}

if (page.data.changelog_file_name && page.data.changelog_file_name.length > 1) {
	throw new Error(
		`[ProductChangelog] This component cannot be used on files that have more than 1 entry in their 'changelog_file_name' frontmatter property.`,
	);
}

const name = page.data.changelog_product_area_name ?? page.data.changelog_file_name[0];

let changelogs;

if (page.data.changelog_product_area_name) {
	const opts = {
		filter: (entry) => { return entry.data.productArea === name}
	};
	({ changelogs } = await getChangelogs(opts));
} else {
	if (name === "wrangler") {
		const opts = {
			wranglerOnly: true
		};
		({ changelogs } = await getChangelogs(opts));
	} else {
		const opts = {
			filter: (entry) => { return entry.id === name }
		};
		({ changelogs } = await getChangelogs(opts));
	}
}

if (!changelogs) {
	throw new Error(
		`[ProductChangelog] Failed to find changelog called ${name}.`,
	);
}
---

{
	changelogs.map(([date, entries]) => (
		<div data-date={date}>
      		<AnchorHeading depth={2} title={date} />
			{ entries.map((entry) => (
				<div data-product={entry.product.toLowerCase()}>
				{ page.data.changelog_product_area_name && <h3 class="!mt-4"><a href={entry.productLink}>{entry.product}</a></h3>}
				{entry.title && <strong>{entry.title}</strong>}
				<Fragment set:html={marked.parse(entry.description)} />
				</div>
			))}
		</div>
	))
}